<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<!--
<body class="container text-center col-md-12" background="https://lh3.googleusercontent.com/6y5kmJtP_vOcvdzlgbmdLv9UoMP2v3nC5OmnaJNv3OyEwp_K1MNT2j0oXxsQ8v7Ec9u88JZ3x4cnaivSQ2v5ObUpXepHpr2BfIMiVLk8KjcUeaRm06pDnUrCBYaDuOlD4YMKaDlLVlOyybVcwOsG5GzIgDU-71o8CoTU9CrCvnQHicZLQZYjwt9AxJsD-B0uI8mdwEVVFmpfoDaTQ10RD5K_8HbgiMcbTo6ac0cB536ilEQv8wI2UxDueK3tNLHbHiQ5eS0rzLK8UM2JsSYCJNgUFUpMJHTKcgQhTFA2GRzS5Ec5BBeJDlNli87eLKMjxcRTSVsihqMSTr-PcELR553XxM82p7l6_rwuDsGiDfxhHugemGxyjdXDqktGY8klrgrDYbMokvKAnXXqeo0SEHm6TIkmerDmLbS1zSXn0q7_Tk8NJt0HeF0-tEy0YaQiH61B-LNLuhzBSNsSMbH8I7d4wh83LvY1Z8e-EOP0h-Og-tHKiqrQu9v3pI_BR5bqw9B1AAGqPtQ3gtSuvvO8-A-BWIvlI5UdIEMKDc4dYVWckEMWdCPYBMM-0tu5TLpxKWmHBIkcjpk9RPiWedFMsls582I5pBny5g9WCQ=w982-h654-no">
-->
<nav th:replace="fragments :: navbar"></nav>
<br/>

<div class="container text-center">
    <a class="btn btn-primary" href="/login">Log In</a> |
    <a class="btn btn-primary" href="/signup">Sign Up</a>
</div>

<div class="container text-center">Or</div>

<div class="container text-center">
    <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Skip All This and Get To It! Let's...
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/">Catch a Game</a>
            <a class="dropdown-item" href="/">Relax on a Beach</a>
            <a class="dropdown-item" href="/">Go For a Hike</a>
        </div>
    </div>
</div>

<script th:replace="fragments :: jQuery"></script>
<script th:replace="fragments :: Popper"></script>
<script th:replace="fragments :: Bootstrap"></script>

</body>

</html>