<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navbar"></nav>

<div class="bg"></div>

<p class="py-5 text-center"></p>


<div class="container text-center">
    <a href="/login">Login</a> |
    <a href="/signup">Create An Account</a>
</div>

<div class="container text-center">
    <div class="dropdown"> Let's
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ...
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Catch a Game</a>
            <a class="dropdown-item" href="#">Relax on a Beach</a>
            <a class="dropdown-item" href="#">Go For a Hike</a>
        </div>
    </div>
</div>


<script th:replace="fragments :: jQuery"></script>
<script th:replace="fragments :: Popper"></script>
<script th:replace="fragments :: Bootstrap"></script>

</body>

</html>